.App {
    height: 100vh;
    overflow: hidden;
    background-color: #e5e5e5;

    .homepage-container {
        background-color: #36322e8a;
        border-radius: 1.5rem;
        overflow: hidden;

        .form-container {
            background: rgb(6, 6, 6);
        }

        .table-background {

            background: #ebebeb;

            .table-container {
                border: 1px solid #dee2e6;
                background: rgb(235, 223, 215);

                th {
                    background-color: #FFFFFF56;
                    color: #000;
                }

                td {
                    background-color: #FFFFFF56;
                    vertical-align: center;

                    a {
                        text-decoration: none;
                        color: inherit;
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        justify-content: center;
                    }
                }

                tbody {
                    background-color: #36322e8a;
                }
            }

            .table-container::-webkit-scrollbar {
                width: 4px;
            }

            .table-container::-webkit-scrollbar-track {
                background-color: #f5f5f5;
                border-radius: 0px 10px 10px 0px;
            }

            .table-container::-webkit-scrollbar-thumb {
                background-color: #06060693;
                border-radius: 10px;
            }

        }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        /* Firefox */
    }
}